@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my first ASP.NET MVC Web Page</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="text-center">
    <h2 class="display-4">This is my Web Page with Google Authentication</h2>
   <p>Authentication enables organizations to keep their networks secure by permitting only authenticated users or processes to gain access to their protected resources. This may include computer systems, networks, databases, websites and other network-based applications or services.</p>
    <p>Learn more about <a href="https://www.techtarget.com/searchsecurity/definition/authentication">authentication</a>.</p>
</div>
